body {
    font-family: "Playfair Display", sans-serif;
    text-align: center;
}

#menu {
    z-index: 999;
    background-color: white;
    width: 50%;
    border-bottom-style: inset;
    border-bottom-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
}

#name {
    color: black;
    font-weight: 400;
    margin: 12px;
    font-size: 18px;
    letter-spacing: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    box-shadow: none;
    border-style: none;
    transition: box-shadow .2s ease-out;
}

a:hover {
    box-shadow: 1px 1px 1px 1px black;
}

.menu-selection {
    /* Keep display as none for now */
    display: inherit;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-shadow: 0.5px 0px 0px black;
    letter-spacing: 0.15em;
    font-size: 16px;
    margin: auto 12px 12px 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: box-shadow .3s ease;
}

.menu-selection:hover {
    box-shadow: .8px .8px .8px .8px black;
    /*
    color: transparent;
    text-decoration: underline;
    */
}

#curtain {
    opacity: 0;
    transition: opacity 1.2s ease-in;
}

#curtain.introduce {
    opacity: 1;
}

#info {
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;
}

.subinfo {
    opacity: 0;
    transition: opacity 3.2s 0.5s; 
}

.subinfo.introduce {
    opacity: 1;
}